/* @import './fonts/fira-code.css';
@import './fonts/lxgwwenkai-regular.css';
@import './fonts/lxgwwenkai-light.css';
@import './fonts/lxgwwenkai-bold.css';
@import './fonts/lxgwwenkaimono-regular.css';
@import './fonts/lxgwwenkaimono-light.css';
@import './fonts/lxgwwenkaimono-bold.css'; */
@import './tailwind.css';
@import './app.css';
@import './mdx.css';
