/************ 自定义tailwind基本样式 ************/
:root {
  /* --overlay: rgba(0, 0, 0, 0.08); */
  --overlay: rgb(0 0 0 / 25%);
}

.dark {
  /* --overlay: rgba(255, 255, 255, 0.08); */
  --overlay: rgb(255 255 255 / 35%);
}

@theme {
  --color-overlay: var(--overlay);
}

@layer base {
  html {
    /* 禁止横向滚动，防止移动端左右滑动 */
    overflow-x: hidden;

    /* 禁止overscroll弹性效果 */
    overscroll-behavior: none;
    font-size: 100%;
  }

  /* 以下为自定义样式 */
  html,
  body {
    @apply font-base w-full p-0 m-0;

    /* 使用 min-height 替代 height，允许内容超出时正常滚动 */
    min-height: 100vh;
  }

  body {
    @apply text-sm;

    /* 禁止横向滚动，防止移动端左右滑动 */
    overflow-x: hidden;

    /* 禁止overscroll弹性效果 */
    overscroll-behavior-y: contain;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  button,
  [role='button'] {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }
}
