@reference '#tailwind.css';

.header {
  @apply flex items-center justify-between h-[50px] w-full bg-background/30 backdrop-blur-sm px-2 sticky top-0 z-40 transparent-scrollbar transition-all duration-300;
}

.headerScrolled {
  @apply border-b border-muted shadow-md bg-background/30  backdrop-blur-md transition-all duration-300 h-[55px];
}
