@reference '#tailwind.css';

.header {
  @apply flex items-center justify-between h-[50px] w-full bg-background/30 backdrop-blur-sm px-2 sticky top-0 z-40 transparent-scrollbar transition-transform duration-500;
}

.isScrolled {
  @apply -translate-y-full;
}
