/************ 自定义tailwind主题扩展 ************/

/* 
  @theme 配置说明：
  在此处定义的变量会自动生成对应的 Tailwind 工具类。
  必须严格遵守以下前缀命名规范，否则无法生成类名：
  
  核心前缀列表 (常用):
   --color-*:      颜色 (生成 bg-*, text-*, border-* 等)
   --font-*:       字体 (生成 font-*)
   --text-*:       字号 (生成 text-*)
   --spacing-*:    间距/尺寸 (生成 p-*, m-*, w-*, h-* 等)
   --breakpoint-*: 响应式断点 (生成 sm:*, md:*, lg:* 等)
   --radius-*:     圆角 (生成 rounded-*)
   --shadow-*:     阴影 (生成 shadow-*)
   --animate-*:    动画 (生成 animate-*)
   --blur-*:       模糊 (生成 blur-*)
*/

@theme {
  /* 
       响应式断点配置
       使用方式：直接在类名前加前缀，如 xs:hidden, 2xl:block
       默认 1rem = 16px
    */
  --color-test1: orange; /* 这个是用于测试是否可以直接使用 text-test1，但是不要使用这个测试配色 */
  --breakpoint-xs: 30rem; /* 480px  (超大屏手机/小平板) */
  --breakpoint-sm: 36rem; /* 576px  (平板竖屏) */
  --breakpoint-md: 48rem; /* 768px  (iPad竖屏 / 常用平板尺寸) */
  --breakpoint-lg: 62rem; /* 992px  (小屏笔记本) */
  --breakpoint-xl: 75rem; /* 1200px (标准桌面显示器) */
  --breakpoint-2xl: 87.5rem; /* 1400px (大屏桌面显示器) */

  /* 
       自定义阴影配置 (前缀 --shadow-)
       使用方式：class="shadow-nysm", class="shadow-spread"
    */
  --shadow-nysm: 0 0 2px 0 rgb(0 0 0 / 5%);
  --shadow-ny: 0 0 3px 0 rgb(0 0 0 / 10%), 0 0 2px - 1px rgb(0 0 0 / 10%);
  --shadow-nymd: 0 0 6px -1px rgb(0 0 0 / 10%), 0 0 4px -2px rgb(0 0 0 / 10%);
  --shadow-nylg: 0 0 15px -3px rgb(0 0 0 / 10%), 0 0 6px -4px rgb(0 0 0 / 10%);
  --shadow-spread: 0 5px 40px rgb(0 0 0 / 10%);

  /* 默认字体 */
  --font-base:
    -apple-system, blinkmacsystemfont, tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  /* 霞鹜文楷字体 */
  --font-lxgw:
    'LXGW WenKai', '楷体', 'STKaiti', -apple-system, blinkmacsystemfont, tahoma, arial,
    'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* 默认代码字体 */
  --font-code:
    'Fira Code', -apple-system, blinkmacsystemfont, tahoma, arial, 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
